<h1>Defer</h1>
<i><a href="https://blog.angular-university.io/angular-defer/">Source</a></i>
<p>Sometimes a part of a page is not needed yet on page load, and usually only becomes visible after a certain trigger
    has been fired (for example, after scrolling past a certain point, when clicking on a seperate tab within the same
    page, ... )</p>
<p>For those cases, defer may offer a solution to optimize your performance. Below you will see an example that will
    only load a text block once it has been scrolled into view.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit pretium tortor, at bibendum lectus
    venenatis
    eget. Fusce maximus, elit sed gravida tincidunt, dolor lectus ultrices diam, eu sodales magna mi non diam. Phasellus
    suscipit sed lorem vitae accumsan. Vivamus non augue sit amet neque sodales lobortis. Etiam pulvinar auctor libero
    et
    malesuada. Etiam quis ligula tempus, pretium magna sed, tempus orci. Vestibulum enim lacus, hendrerit sit amet dolor
    ut,
    hendrerit mattis ipsum. Aenean euismod luctus ornare. Integer hendrerit rutrum interdum. Praesent maximus ipsum
    vitae
    mollis imperdiet. Nullam scelerisque eleifend ante id commodo. Ut posuere tortor at commodo pretium.
</p>
<p>Etiam sed velit a dolor commodo tempor eu sed massa. Vivamus auctor vulputate justo in dapibus. Vestibulum vel
    pellentesque purus. Cras ultricies ullamcorper nisl. Fusce commodo vehicula magna ac tincidunt. Phasellus imperdiet,
    diam sed semper tristique, lacus lacus lobortis nisl, ut volutpat neque lectus eu mauris. Class aptent taciti
    sociosqu
    ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi lacus orci, sodales vel augue eu, tristique
    volutpat justo. Aliquam et diam non nibh scelerisque feugiat ut et mi. Nulla facilisi. Aliquam ligula nibh, egestas
    sagittis mattis vel, posuere vel ex.
</p>
<p>Nunc commodo mauris vel massa aliquet, eu scelerisque est vulputate. Mauris id lorem et nisi porta finibus vitae at
    magna. Mauris eget augue in magna aliquam tincidunt suscipit vitae metus. Nulla et ornare nisi. Ut tristique
    malesuada
    dapibus. Nullam commodo commodo interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Proin auctor, mauris vel pharetra efficitur, eros purus egestas dolor, non efficitur nibh sem quis
    elit.
    Mauris id magna arcu. Phasellus vehicula mattis erat quis congue. Aenean viverra diam eget augue accumsan ornare.
</p>

<p>Proin velit diam, dapibus vitae placerat nec, tincidunt non nisi. Aliquam pulvinar maximus massa, ac consequat ligula
    rutrum et. Phasellus tempor erat quis purus maximus, a hendrerit nulla viverra. Donec luctus, lectus et condimentum
    condimentum, ex mauris congue mauris, eget mollis dolor ex sed neque. Suspendisse scelerisque in sem sed mollis.
    Quisque
    non sodales eros. Fusce quis suscipit augue. Vestibulum maximus lorem et odio rutrum, eget ornare nisl suscipit.
    Pellentesque odio tellus, gravida nec arcu at, interdum commodo urna. Sed risus massa, iaculis eget sapien sit amet,
    pretium euismod est.
</p>
<p>Cras quis purus eu diam euismod malesuada. Sed cursus mauris sit amet lectus viverra venenatis. In sem erat, egestas
    nec
    ullamcorper vel, ultricies pulvinar velit. Quisque accumsan lacus lorem, sit amet porttitor augue rutrum nec. Sed
    quis
    lobortis velit. Praesent sed ornare mauris. Ut elementum mollis bibendum. Fusce et dictum nunc. Curabitur vehicula
    leo
    diam, sed ultrices orci suscipit non. Donec odio sapien, venenatis eu odio quis, efficitur bibendum nulla. Mauris
    accumsan tortor vitae eros sagittis, sed eleifend lorem gravida. Sed tempor erat at posuere condimentum. Ut erat
    lectus,
    malesuada eu auctor ut, eleifend sit amet nisl.
</p>
<p>Vestibulum rhoncus metus non odio accumsan feugiat. Aenean gravida cursus orci ut maximus. Aenean quis nulla
    accumsan,
    porttitor augue rutrum, sollicitudin risus. Pellentesque interdum vestibulum ipsum, eget lobortis nibh feugiat nec.
    Proin viverra commodo tellus ac sagittis. Cras ac sollicitudin nunc. Etiam ut mi ornare tellus porttitor hendrerit
    sed
    id justo. Suspendisse pharetra pretium tortor, mattis efficitur ligula finibus a. Nunc rutrum facilisis diam, ut
    ultrices ante lobortis at. Sed tellus ligula, facilisis non nisi eget, congue congue ante. Vestibulum laoreet congue
    commodo. Nullam maximus finibus mi, id tincidunt magna condimentum in. Pellentesque dignissim, enim sit amet
    ullamcorper
    dictum, lorem justo tincidunt dolor, nec malesuada nibh ligula eu mauris. Donec dictum purus id mi lobortis rutrum.
</p>
<p>In tempor lacus nunc, at mollis nisl semper ac. Morbi efficitur dolor dui, sed dignissim dolor pulvinar commodo.
    Nullam
    sollicitudin iaculis mi, eu auctor nibh ultrices eleifend. Donec hendrerit neque ac est consectetur, sed dictum mi
    euismod. Fusce orci nisl, tristique ut ultricies ac, faucibus vel felis. Pellentesque in leo euismod, sollicitudin
    risus
    eget, lacinia diam. Suspendisse potenti. Sed a lacus in dolor rutrum venenatis quis ut nisi. Fusce interdum neque at
    tortor laoreet vehicula. Maecenas fermentum sem nec massa gravida imperdiet. Vivamus sagittis condimentum dignissim.
</p>
<p>Sometimes a part of a page is not needed yet on page load, and usually only becomes visible after a certain trigger
    has been fired (for example, after scrolling past a certain point, when clicking on a seperate tab within the same
    page, ... )</p>
<p>For those cases, defer may offer a solution to optimize your performance. Below you will see an example that will
    only load a text block once it has been scrolled into view.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit pretium tortor, at bibendum lectus
    venenatis
    eget. Fusce maximus, elit sed gravida tincidunt, dolor lectus ultrices diam, eu sodales magna mi non diam. Phasellus
    suscipit sed lorem vitae accumsan. Vivamus non augue sit amet neque sodales lobortis. Etiam pulvinar auctor libero
    et
    malesuada. Etiam quis ligula tempus, pretium magna sed, tempus orci. Vestibulum enim lacus, hendrerit sit amet dolor
    ut,
    hendrerit mattis ipsum. Aenean euismod luctus ornare. Integer hendrerit rutrum interdum. Praesent maximus ipsum
    vitae
    mollis imperdiet. Nullam scelerisque eleifend ante id commodo. Ut posuere tortor at commodo pretium.
</p>
<p>Etiam sed velit a dolor commodo tempor eu sed massa. Vivamus auctor vulputate justo in dapibus. Vestibulum vel
    pellentesque purus. Cras ultricies ullamcorper nisl. Fusce commodo vehicula magna ac tincidunt. Phasellus imperdiet,
    diam sed semper tristique, lacus lacus lobortis nisl, ut volutpat neque lectus eu mauris. Class aptent taciti
    sociosqu
    ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi lacus orci, sodales vel augue eu, tristique
    volutpat justo. Aliquam et diam non nibh scelerisque feugiat ut et mi. Nulla facilisi. Aliquam ligula nibh, egestas
    sagittis mattis vel, posuere vel ex.
</p>
<p>Nunc commodo mauris vel massa aliquet, eu scelerisque est vulputate. Mauris id lorem et nisi porta finibus vitae at
    magna. Mauris eget augue in magna aliquam tincidunt suscipit vitae metus. Nulla et ornare nisi. Ut tristique
    malesuada
    dapibus. Nullam commodo commodo interdum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Proin auctor, mauris vel pharetra efficitur, eros purus egestas dolor, non efficitur nibh sem quis
    elit.
    Mauris id magna arcu. Phasellus vehicula mattis erat quis congue. Aenean viverra diam eget augue accumsan ornare.
</p>

<p>Proin velit diam, dapibus vitae placerat nec, tincidunt non nisi. Aliquam pulvinar maximus massa, ac consequat ligula
    rutrum et. Phasellus tempor erat quis purus maximus, a hendrerit nulla viverra. Donec luctus, lectus et condimentum
    condimentum, ex mauris congue mauris, eget mollis dolor ex sed neque. Suspendisse scelerisque in sem sed mollis.
    Quisque
    non sodales eros. Fusce quis suscipit augue. Vestibulum maximus lorem et odio rutrum, eget ornare nisl suscipit.
    Pellentesque odio tellus, gravida nec arcu at, interdum commodo urna. Sed risus massa, iaculis eget sapien sit amet,
    pretium euismod est.
</p>
<p>Cras quis purus eu diam euismod malesuada. Sed cursus mauris sit amet lectus viverra venenatis. In sem erat, egestas
    nec
    ullamcorper vel, ultricies pulvinar velit. Quisque accumsan lacus lorem, sit amet porttitor augue rutrum nec. Sed
    quis
    lobortis velit. Praesent sed ornare mauris. Ut elementum mollis bibendum. Fusce et dictum nunc. Curabitur vehicula
    leo
    diam, sed ultrices orci suscipit non. Donec odio sapien, venenatis eu odio quis, efficitur bibendum nulla. Mauris
    accumsan tortor vitae eros sagittis, sed eleifend lorem gravida. Sed tempor erat at posuere condimentum. Ut erat
    lectus,
    malesuada eu auctor ut, eleifend sit amet nisl.
</p>
<p>Vestibulum rhoncus metus non odio accumsan feugiat. Aenean gravida cursus orci ut maximus. Aenean quis nulla
    accumsan,
    porttitor augue rutrum, sollicitudin risus. Pellentesque interdum vestibulum ipsum, eget lobortis nibh feugiat nec.
    Proin viverra commodo tellus ac sagittis. Cras ac sollicitudin nunc. Etiam ut mi ornare tellus porttitor hendrerit
    sed
    id justo. Suspendisse pharetra pretium tortor, mattis efficitur ligula finibus a. Nunc rutrum facilisis diam, ut
    ultrices ante lobortis at. Sed tellus ligula, facilisis non nisi eget, congue congue ante. Vestibulum laoreet congue
    commodo. Nullam maximus finibus mi, id tincidunt magna condimentum in. Pellentesque dignissim, enim sit amet
    ullamcorper
    dictum, lorem justo tincidunt dolor, nec malesuada nibh ligula eu mauris. Donec dictum purus id mi lobortis rutrum.
</p>
<p>In tempor lacus nunc, at mollis nisl semper ac. Morbi efficitur dolor dui, sed dignissim dolor pulvinar commodo.
    Nullam
    sollicitudin iaculis mi, eu auctor nibh ultrices eleifend. Donec hendrerit neque ac est consectetur, sed dictum mi
    euismod. Fusce orci nisl, tristique ut ultricies ac, faucibus vel felis. Pellentesque in leo euismod, sollicitudin
    risus
    eget, lacinia diam. Suspendisse potenti. Sed a lacus in dolor rutrum venenatis quis ut nisi. Fusce interdum neque at
    tortor laoreet vehicula. Maecenas fermentum sem nec massa gravida imperdiet. Vivamus sagittis condimentum dignissim.
</p>

@defer(on viewport){
<div style="background-color: green; color:white">
    <p>
        This is the final text.
    </p>
</div>
}
@placeholder(minimum 5s){
<div style="background-color: red; color:white">
    <p>
        This is the placeholder block. This will be visible for 5 seconds (defined in the code) after the defer block
        has been
        scrolled into view. After that step we will start loading the component.
    </p>
</div>
}
@loading(minimum 5s){
<div style="background-color: blue; color:white">
    <p>
        This is the loading block. It will be visible for a hardcoded 5 seconds. After this time, the actual content
        will be visible.
    </p>
</div>
}