<h1>Default pipes</h1>
<i><a href="https://angular.dev/guide/pipes" target="_blank">Source</a></i>
<p>Angular supplies us with some default pipes for easy data formatting or manipulation.</p>
<p>Some of these pipes are influenced by the app locale. For these settings, look at app.config.ts and main.ts</p>
<ul>
    <li>Date formatting: <ul>
            <li>Unformatted value: {{ currentDate }}</li>
            <li>Formatted value with date pipe: {{ currentDate | date }}</li>
        </ul>
    </li>
    <li>Currency formatting:
        <ul>
            <li>Unformatted value: {{ currencyValue }}</li>
            <li>Formatted value with currency pipe: {{ currencyValue | currency }}</li>
        </ul>
    </li>
    <li>Decimal formatting:
        <ul>
            <li>Unformatted value: {{ numberValue }}</li>
            <li>Formatted value with decimal pipe: {{ numberValue | number }}</li>
            <li>Formatted value with decimal pipe and 2 decimal places: {{ numberValue | number: '1.2-2' }}</li>
        </ul>
    </li>
    <li>Percentage formatting:
        <ul>
            <li>Unformatted value: {{ percentageValue }}</li>
            <li>Formatted value with percent pipe: {{ percentageValue | percent }}</li>
        </ul>
    </li>
    <li>Async pipes can be used to subscribe to an observable. Click the button to update the value inside of it and see
        this
        in action. <button (click)="addNumberToObservable()">{{numberSubject | async}}</button></li>

</ul>